.container {
	max-width: none;
	width: 100%;
	background-color:;
}

/*pemanggilan attribut buatan sendiri */
div[class*="col-"]{
	border: 1px solid black;
}
.navbar{
	margin-bottom: 0px;
}