.container {
	max-width: none;
	width: 100%;
	background-color:;
}

/*pemanggilan attribut buatan sendiri */
div[class*="col-"]{
	border: 1px solid black;
}

.navbar{
	margin-bottom: 0px;
}

.navbar-inverse .navbar-nav > li > a {
  color: white;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: Black;
  background-color: transparent;
}

p{
	color:black;
}

.content {
	background:#ddd; min-width:500px padding:10px;
	min-height: 550px;
	 background-image: url(images.jpg);
}

.footer {
	background:#333; padding: 10px; color: #ccc;
}